---
import MainLayout from './MainLayout.astro'
import { formatDate } from '../js/utils'

const { frontmatter } = Astro.props
const { title, description, date } = frontmatter
---

<MainLayout title={title} description={description}>
  <main tabindex="-1" id="main-content" class={frontmatter.class}>
    <div class="wrapper prose region flow">
      <h1>{title}</h1>
      <time datetime={date}>{formatDate(date)}</time>
      <slot />
      <hr>
    </div>
  </main>
</MainLayout>
